/* VARIABLES */
:root {
  --container-width-lg: 80%;
  --container-width-sm: 94%;

  --radius-1: 2rem;
  --radius-2: 1.2rem;
  --radius-3: 0.8rem;
  --radius-4: 0.5rem;
  --radius-5: 0.3rem;

  --transition: all 300ms ease-in-out;

  --primary-hue: 358;
  --color-primary: hsl(var(--primary-hue), 87%, 44%);
  --color-nav-bg: hsl(var(--primary-hue) 0%, 100%, 0.4);
  --color-gray-100: hsl(var(--primary-hue), 0%, 100%);
  --color-gray-200: hsl(var(--primary-hue), 0%, 95%);
  --color-gray-300: hsl(var(--primary-hue), 0%, 85%);
  --color-gray-400: hsl(var(--primary-hue), 0%, 70%);
  --color-gray-500: hsl(var(--primary-hue), 0%, 55%);
  --color-gray-600: hsl(var(--primary-hue), 0%, 40%);
  --color-gray-700: hsl(var(--primary-hue), 0%, 25%);
  --color-gray-800: hsl(var(--primary-hue), 0%, 15%);
  --color-gray-900: hsl(var(--primary-hue), 0%, 5%);
}

.dark {
  --color-gray-100: hsl(var(--primary-hue), 0%, 5%);
  --color-gray-200: hsl(var(--primary-hue), 0%, 15%);
  --color-gray-300: hsl(var(--primary-hue), 0%, 25%);
  --color-gray-400: hsl(var(--primary-hue), 0%, 40%);
  --color-gray-500: hsl(var(--primary-hue), 0%, 55%);
  --color-gray-600: hsl(var(--primary-hue), 0%, 70%);
  --color-gray-700: hsl(var(--primary-hue), 0%, 85%);
  --color-gray-800: hsl(var(--primary-hue), 0%, 95%);
  --color-gray-900: hsl(var(--primary-hue), 0%, 100%);

  --color-nav-bg: hsl(var(--primary-hue) 0%, 0%, 0.4);
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  scroll-behavior: smooth;
  /* height: 100%; -> NOTE: This line of code interferes with the navbar's sticky behavior */
}

body {
  line-height: 1.7;
  font-family: "Montserrat", sans-serif;
  background: var(--color-gray-100);
  color: var(--color-gray-800);
  font-weight: 300;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
  object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

p,
a,
figcaption {
  font-size: 0.85rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
  line-height: 1;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
}

section {
  padding: 9rem 0;
  margin-top: 4rem;
}

section>h1,
section>p {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

section>h1 {
  margin-bottom: 0.5rem;
}

section:nth-child(odd) {
  background: var(--color-gray-200);
}

/* STYLE TITLE ATTRIBUTE CONTENT */
[title] {
  position: relative;
}

[title]:hover::after {
  content: attr(title);
  position: absolute;
  background: #000;
  color: #fff;
  padding: 0.5rem;
  font-size: 0.5rem;
  border-radius: var(--radius-3);
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 10;
  -webkit-border-radius: var(--radius-3);
  -moz-border-radius: var(--radius-3);
  -ms-border-radius: var(--radius-3);
  -o-border-radius: var(--radius-3);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

/* GENERAL STYLES */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  width: fit-content;
  font-weight: 500;

  border-radius: var(--radius-3);
  -webkit-border-radius: var(--radius-3);
  -moz-border-radius: var(--radius-3);
  -ms-border-radius: var(--radius-3);
  -o-border-radius: var(--radius-3);

  background: var(--color-gray-200);
  color: var(--color-gray-900);
  cursor: pointer;

  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.btn.sm {
  padding: 0.25rem 0.5rem;
  font-weight: 400;
  border-radius: var(--radius-4);
  -webkit-border-radius: var(--radius-4);
  -moz-border-radius: var(--radius-4);
  -ms-border-radius: var(--radius-4);
  -o-border-radius: var(--radius-4);
}

.btn.primary {
  background: var(--color-primary);
  color: white;
  /* white text does not change when the theme changes */
}

.btn:hover {
  background: var(--color-gray-900);
  color: var(--color-gray-100);
}

/* NAVIGATION BAR STYLES */
nav {
  background: var(--color-nav-bg);
  border-bottom: 1px solid var(--color-gray-300);
  display: grid;
  place-items: center;
  height: 3.8rem;
  position: -webkit-sticky;
  /* For Safari */
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  /* Ensure it is above other content */
  /* width: 100vw; */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  -moz-backdrop-filter: blur(15px);
  -o-backdrop-filter: blur(15px);
  -ms-backdrop-filter: blur(15px);
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 2.4rem;
  aspect-ratio: 1/1;
  overflow: hidden
    /* to prevent the image from stretching; */
    border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav__menu a {
  color: var(--color-gray-900);
}

.nav__toggle-close,
.nav__toggle-open {
  display: none;
}

.nav__theme-btn {
  color: var(--color-gray-900);
  background: transparent;
  font-size: 1.4rem;
  cursor: pointer;
  border: none;
  outline: none;
}

/* HOME SECTION STYLES */
header {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.header__container {
  margin-top: 3rem;
  position: relative;
}

.header__image {
  width: 14rem;
  aspect-ratio: 3/4;
  overflow: hidden;
  margin-right: 17rem;
  margin-inline: auto;

  border-radius: 7rem 7rem var(--radius-2) var(--radius-2);
  -webkit-border-radius: 7rem 7rem var(--radius-2) var(--radius-2);
  -moz-border-radius: 7rem 7rem var(--radius-2) var(--radius-2);
  -ms-border-radius: 7rem 7rem var(--radius-2) var(--radius-2);
  -o-border-radius: 7rem 7rem var(--radius-2) var(--radius-2);
}

.header__image img {
  height: 100%;
}

.header__content {
  text-align: center;
  margin-top: 2rem;
  width: 40rem;
  margin-inline: auto;
}

.header__content h4 {
  margin-bottom: 0.7rem;
}

.header__content h4 span {
  color: var(--color-primary);
}

.header__content p {
  margin: 0.8rem 0 2rem;
}

.header__cta {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.header__socials {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.header__socials a {
  background: var(--color-gray-200);
  color: var(--color-gray-900);
  padding: 0.5rem;
  display: inline-block;
  border: 1px solid var(--color-gray-300);

  border-radius: var(--radius-4);
  -webkit-border-radius: var(--radius-4);
  -moz-border-radius: var(--radius-4);
  -ms-border-radius: var(--radius-4);
  -o-border-radius: var(--radius-4);

  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.header__socials a:hover {
  background: var(--color-primary);
  color: var(--color-gray-100);

  transform: translate(-0.5rem);
  -webkit-transform: translate(-0.5rem);
  -moz-transform: translate(-0.5rem);
  -ms-transform: translate(-0.5rem);
  -o-transform: translate(-0.5rem);
}

/* ABOUT SECTION STYLES */
.about__container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 7rem;
}

.about__image {
  border: 1rem solid var(--color-gray-100);
  height: fit-content;
  max-height: 35rem;
  overflow: hidden;
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 3rem 0 1.5rem;
}

.about__card {
  background: var(--color-gray-100);
  padding: 1rem;
  text-align: center;
  cursor: default;

  border-radius: var(--radius-2);
  -webkit-border-radius: var(--radius-2);
  -moz-border-radius: var(--radius-2);
  -ms-border-radius: var(--radius-2);
  -o-border-radius: var(--radius-2);

  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.about__card:hover {
  background: var(--color-primary);
  color: var(--color-gray-100);

  transform: translate(-0.5rem);
  -webkit-transform: translate(-0.5rem);
  -moz-transform: translate(-0.5rem);
  -ms-transform: translate(-0.5rem);
  -o-transform: translate(-0.5rem);
}

.about__card i {
  color: var(--color-primary);
  font-size: 1.4rem;
  display: inline-block;
  padding: 0.5rem;
  border-radius: var(--radius-4);
  -webkit-border-radius: var(--radius-4);
  -moz-border-radius: var(--radius-4);
  -ms-border-radius: var(--radius-4);
  -o-border-radius: var(--radius-4);
}

.about__card:hover i {
  background: var(--color-gray-100);
  color: var(--color-primary);
}

.about__card h4 {
  margin: 1rem 0 0.5rem;
}

.about__card small {
  font-size: 0.7rem;
}

.about__details p {
  margin-bottom: 0.8rem;
}

.about__details .btn {
  margin-top: 2rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.about__details .btn i {
  font-size: 1.2rem;
}

/* SERVICE SECTION STYLES */
.services__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6rem;
  margin-top: 4rem;
}

.services__left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.services__left li {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  border: 1px solid var(--color-gray-300);
  padding: 1.5rem;
  cursor: pointer;

  border-radius: var(--radius-4);
  -webkit-border-radius: var(--radius-4);
  -moz-border-radius: var(--radius-4);
  -ms-border-radius: var(--radius-4);
  -o-border-radius: var(--radius-4);
}

.services__left li:hover,
.services__left li.active {
  background: var(--color-gray-200);
}

.services__left li span {
  background: var(--color-primary);
  color: var(--color-gray-100);
  padding: 0.7rem;
  font-size: 1.3rem;
  border-radius: 40%;
  -moz-border-radius: 40%;
  -ms-border-radius: 40%;
  -o-border-radius: 40%;
  -webkit-border-radius: 40%;
}

.services__left li h3 {
  margin-bottom: 0.5rem;
}

.services__right {
  border-left: 1px solid var(--color-gray-300);
  padding-left: 6rem;
}

.services__right h3 {
  margin-bottom: 1rem;
}

.services__right p {
  margin-bottom: 0.6rem;
}

/* PROJECT SECTION STYLES */
.projects__container {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 3.5rem;
}

.project {
  background: var(--color-gray-100);
  padding: 1.4rem;
  text-align: center;
  cursor: pointer;

  border-radius: var(--radius-2);
  -webkit-border-radius: var(--radius-2);
  -moz-border-radius: var(--radius-2);
  -ms-border-radius: var(--radius-2);
  -o-border-radius: var(--radius-2);

  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.project:hover {
  box-shadow: 0 3rem 2rem -2rem rgba(0, 0, 0, 0.3);

  transform: translate(-0.5rem);
  -webkit-transform: translate(-0.5rem);
  -moz-transform: translate(-0.5rem);
  -ms-transform: translate(-0.5rem);
  -o-transform: translate(-0.5rem);
}

.project__image {
  height: auto;
  max-height: 12rem;
  margin-bottom: 1.5rem;
  overflow: hidden;

  border-radius: var(--radius-4);
  -webkit-border-radius: var(--radius-4);
  -moz-border-radius: var(--radius-4);
  -ms-border-radius: var(--radius-4);
  -o-border-radius: var(--radius-4);
}

.project p {
  margin: 0.5rem 0 1.5rem;
}

.project__cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}

/* TESTIMONIAL SECTION STYLES */
.swiper {
  width: var(--container-width-lg);
  margin: 9rem auto;
}

.swiper-wrapper {
  margin-top: 4rem;

  /* Swiper pagination style */
  padding-bottom: 4rem;
  height: fit-content;
}

.swiper-slide {
  background: var(--color-gray-200);
  border: 2px solid transparent;
  padding: 1rem 1.2rem;
  height: fit-content;
  cursor: default;
  user-select: none;

  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;

  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.swiper-slide:hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

.swiper-client {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: 1.5rem;
}

.swiper__client-avatar {
  width: 2.5rem;
  aspect-ratio: 1/1;
  overflow: hidden;

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.swiper-pagination-bullet {
  background: var(--color-primary);
}

/* CONTACT SECTION STYLES */
section.contact {
  background: var(--color-primary);
}

.contact__container {
  display: grid;
  grid-template-columns: 1fr 9fr;
  gap: 6rem;
  width: 50%;
}

.contact__list {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.contact__list-item {
  background: var(--color-gray-100);
  color: var(--color-gray-900);
  padding: 1rem;
  display: block;
  text-align: center;
  font-size: 1.6rem;

  border-radius: var(--radius-3);
  -webkit-border-radius: var(--radius-3);
  -moz-border-radius: var(--radius-3);
  -ms-border-radius: var(--radius-3);
  -o-border-radius: var(--radius-3);

  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.contact__list-item:hover {
  background: var(--color-gray-900);
  color: var(--color-gray-100);
}

section.contact form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

section.contact form input,
textarea {
  background: transparent;
  color: var(--color-gray-100);
  border: 1px solid var(--color-gray-300);
  resize: none;
  /* Prevent resizing of the textarea */
  padding: 1rem;
  border-radius: var(--radius-3);
  -webkit-border-radius: var(--radius-3);
  -moz-border-radius: var(--radius-3);
  -ms-border-radius: var(--radius-3);
  -o-border-radius: var(--radius-3);
}

section.contact form input::placeholder,
textarea::placeholder {
  color: var(--color-gray-300);
}


/* FOOTER SECTION STYLES */
footer {
  background: hsl(var(--primary-hue) 5%, 5%);
  gap: 3rem;
  padding-top: 7rem;
}

.footer__menu {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.footer__menu a {
  color: hsl(var(--primary-hue) 5%, 70%);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.footer__menu a:hover {
  color: #fff;
}

.footer__socials {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  width: fit-content;
  margin: 3rem auto 4rem;
}

.footer__socials a {
  background: #fff;
  color: rgb(16, 1, 31);
  padding: 0.6rem;
  display: flex;
  border-radius: var(--radius-3);
  -webkit-border-radius: var(--radius-3);
  -moz-border-radius: var(--radius-3);
  -ms-border-radius: var(--radius-3);
  -o-border-radius: var(--radius-3);
  -webkit-border-radius: ;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.footer__socials a:hover {
  background: var(--color-primary);
  color: #fff;
  opacity: 0.7;
  transform: translate(-0.5rem);
  -webkit-transform: translate(-0.5rem);
  -moz-transform: translate(-0.5rem);
  -ms-transform: translate(-0.5rem);
  -o-transform: translate(-0.5rem);
}

.footer__copywrite {
  color: hsl(var(--primary-hue) 5%, 70%);
  text-align: center;
  border-top: 2px solid hsl(var(--primary-hue) 5%, 25%);
  padding: 1.5rem 0;
}


/* MEDIA QUERIES FOR MEDIUM SCREENS*/
@media (max-width: 768px) {

  /* General Styles */
  h1 {
    font-size: 1.8rem
  }

  p,
  a,
  figcaption {
    font-size: 1rem
  }

  .container {
    width: var(--container-width-sm);
  }

  section {
    padding: 7rem 0;
  }

  section>h1,
  section>p {
    width: var(--container-width-sm);
  }

  /* Navigation Bar Styles */
  .nav__menu {
    position: fixed;
    right: 0;
    top: 3.8rem;
    flex-direction: column;
    gap: 0;
    width: fit-content;
    display: none;
    perspective: 250px;
  }

  .nav__menu li {
    width: 100%;
  }

  .nav__menu li a {
    background: var(--color-gray-200);
    padding: 1rem 4rem;
    width: 100%;
    display: block;
    border-top: 1px solid var(--color-gray-300);
    text-align: center;
    box-shadow: -2rem 5rem 5rem rgba(0, 0, 0, 0.3);
  }

  .nav__toggle-open,
  .nav__toggle-close {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: var(--color-gray-900);
    border: none;
    cursor: pointer;
  }

  .nav__toggle-close {
    display: none;
  }

  .nav__buttons {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }

  .nav__menu li {
    transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    opacity: 0;
    animation: navOpenAnimate 500ms ease-in-out forwards;
    -webkit-animation: navOpenAnimate 500ms ease-in-out forwards;
    transform-origin: right;
  }

  .nav__menu li:nth-child(2) {
    animation-delay: 200ms;
    -webkit-animation-delay: 200ms;
  }

  .nav__menu li:nth-child(3) {
    animation-delay: 400ms;
    -webkit-animation-delay: 400ms;
  }

  .nav__menu li:nth-child(4) {
    animation-delay: 600ms;
    -webkit-animation-delay: 600ms;
  }

  .nav__menu li:nth-child(5) {
    animation-delay: 800ms;
    -webkit-animation-delay: 800ms;
  }


  @keyframes navOpenAnimate {
    to {
      opacity: 1;
      transform: rotateY(0deg);
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
    }

  }

  /* Header Section Styles */
  header {
    height: 115vh;
  }

  .header__content {
    width: var(--container-width-sm);
    padding-bottom: 3rem;
  }

  .header__socials {
    display: none;
  }

  .header__image {
    width: 50vw;
    aspect-ratio: 4/5;
  }


  /* About Section Styles */
  .about__container {
    grid-template-columns: 1fr;
  }

  .about__image {
    display: none;
  }

  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }


  /* Service Section Styles */
  .services__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .services__right {
    padding: 0;
    border: 0;
  }

  .services__right h3 {
    margin-bottom: 0.6rem;
  }


  /* Project Section Styles */
  .projects__container {
    gap: 1rem;
  }


  /* Testimonial Section Styles */
  .swiper {
    width: var(--container-width-sm);
  }

  .swiper-wrapper {
    padding-bottom: 3rem;
  }

  .swiper-slide {
    padding: 1.5rem;
  }


  /* Contact Section Styles */
  .contact__container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .contact__list {
    flex-direction: row;
    justify-content: center;
  }

  .contact .btn {
    width: 100%;
  }


  /* Footer Section Styles */
  .footer__menu {
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;
  }